@charset "utf-8";

body {
    height: 95vh;
    display: flex;
    align-items: center;
}
.tarefa-box {
    display: flex;
    justify-content: space-around;
    width: 15vw;
    margin-bottom: 30px;
}

.finalizados {
    margin-left: 200px;
}